<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>ログイン画面</title>
</head>
<body>
    <div class="login-container">
        <h2>ログイン</h2>
        <form th:action="@{/mylogin}" method="post">
                <label for="username">学籍番号</label>
                <input type="text" id="schoolnum" name="schoolnum" required>
                <label for="password">パスワード</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">ログインする</button><a th:href="@{/insert}">新規登録</a>
                <a th:href="@{/test}">test</a>
            </div>
        </form>
    </div>
</body>
</html>